@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
#title {
  font-family: "Satisfy", cursive;
  margin-top: 1em;
  margin-left: 1em;
}

#carroCompra {
  width: 4em;
  height: 4em;
  border: 1em;
}

#categorias {
  background-color: #2d2b2c;
  height: 4em;
  width: 100%;
  text-align: center;
  color: white;
}
